* {
    font-family: FreeMono, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 404 */

.NotFound {
    background-color:  rgb(0, 146, 197);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NotFound img{
    object-fit: contain;
    width: 100dvw;
    height: 80dvh;
}
.NotFound p{
    height: max-content;
    position: absolute;
    margin-top: 10rem;
    font-weight: 600;
    padding: 1rem;
    background-color: white;
}

/* Nav */

.TopHeader {
    padding: 0.75rem 0rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    gap: 0.75rem;
}
.TopHeader a {
    text-decoration: none;
    color: white;
    padding: 0rem 0.25rem;
}
.TopHeader a:hover{
    box-shadow: 0px 1px 0px 0px white;
}

.simulador {
    color: rgba(255, 255, 255, 0.6) !important; /* !important to override (.TopHeader a) */
}

/* Dice Roll */

.DiceRollSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.DiceRoll {
    cursor: pointer;
    background-color: black;
    margin: 4rem;
    padding: 2rem;
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border: none;
    transition: 200ms;
    border-radius: 1rem;
}
.DiceRoll:hover{
    width: 6.5rem;
    height: 6.5rem;
}
.DiceRoll:active{
    transform: rotate(45deg);
    border-radius: 50%;
    color: transparent;
    transition: 100ms;
}


/* Members */

/* Api Offline */

.apiActive {
    display: none;
}



.apiOffline a{
    animation-name: apiOfflineEnter;
    animation-duration: 2s;
    color: white;
    background-color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40dvw;
    font-size: 0.8rem;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    overflow: hidden;
}
@keyframes apiOfflineEnter {
    0% {
        opacity: 0%;
        color: darkred;
    }

    25% {
        opacity: 0%;
        color: darkred;
    }

    100% {
        opacity: 100%;
        color: white;
    }
}
/*  */

.membersContainer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4rem 10%;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
}

.member {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 1rem;
}

.memberName {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.5rem;
    font-size: 1.5rem;
    box-shadow: 0px 2px 0px 0px gray;
    margin-bottom: 1rem;
}

.memberNickname {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8rem;
}

.memberAlbum {
    color: white;
}

/* Albums */

.albumsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.albunsContainer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    width: 70dvw;
}

.albunsCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 200px;
    color: white;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.15);
    text-decoration: none;
}

.albumCover {
    width: 100px;
}

.albumArtist {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8rem;
}

.albumInfo {
    max-height: 0px;
    overflow: hidden;
    transition: 500ms;
}

.album:hover .albumInfo{
    max-height: 100px;
}

/* Add Album */

.addAlbum {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
    gap: 1rem;
    background-color: black;
}

.addAlbumInput {
    border: none;
    font-size: 1rem;
    text-align: center;
    border-radius: 0.2rem;
    padding: 0.5rem;
    transition: 200ms;
    width: 35dvw;

}
.addAlbumInput:focus{
    width: 50dvw;

}

.submitNewAlbumBtn {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: none;
    transition: 200ms;
}
.submitNewAlbumBtn:hover{
    cursor: pointer;
    border-radius: 0.2rem;
    width: 100px;
    height: 50px;
}

