* {
    font-family: FreeMono, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 404 */

.NotFound {
    background-color:  rgb(0, 146, 197);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NotFound p{
    position: absolute;
    margin-top: 10rem;
    font-weight: 600;
    padding: 1rem;
    background-color: white;
}

/* Header */

.TopHeader {
    padding: 0.75rem 0rem;
    margin-bottom: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 0.75rem;
}
.TopHeader a {
    text-decoration: none;
    color: white;
    padding: 0rem 0.25rem;
}
.TopHeader a:hover{
    box-shadow: 0px 1px 0px 0px white;
}

/* Dice Roll */

.DiceRollSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.DiceRoll {
    cursor: pointer;
    background-color: black;
    padding: 2rem;
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border: none;
    transition: 200ms;
    border-radius: 1rem;
}
.DiceRoll:hover{
    width: 6.5rem;
    height: 6.5rem;
}
.DiceRoll:active{
    transform: rotate(45deg);
    border-radius: 50%;
    color: transparent;
    transition: 100ms;
}

